:root {
	--primary-width: 900px;
	--nav-width: 150px;
	--border-color: white;
	--btn-bg: #010;
}

body {
	color: white;
	background: #011;
}

header h1 {
	max-width: var(--primary-width);
	font-size: xxx-large;
	margin-left: auto;
	margin-right: auto;
	font-variant: small-caps;
	letter-spacing: 0.5rem;
}

header h3 {
	max-width: var(--primary-width);
	font-size: x-large;
	margin-left: auto;
	margin-right: auto;
	font-variant: small-caps;
	text-align: center;
}

nav {
	max-width: var(--primary-width);
	text-align: center;
	clear: both;
	margin: auto;
	border: solid 1px var(--border-color);
	border-radius: 10px;
	font-variant: small-caps;
	margin-bottom: 1em;
}

main {
	max-width: var(--primary-width);
	margin: auto;
	border: solid 2px var(--border-color);
	padding: 1em;
	border-radius: 10px;
}

main h1 {
    font-variant: small-caps;
    letter-spacing: 0.25rem;
}

nav a {
	text-decoration: none;
	color: white;
}

nav li {
	display: inline-block;
	list-style: none;
	border: dashed 1px var(--border-color);
	border-radius: 10px;
	padding: 0.5em;
	max-width: 7em;
	background: var(--btn-bg);
}

nav ul {
	padding: 0;
	margin: 0.5em;
}

nav a:hover li {
	background: white;
	color: #010;
	box-shadow: 2px 2px orange;
}

h1 {
	text-align: center;
}

h2 {
	color: orange;
}

h3 {
	color: #ccc;
}

/* BEGIN RECIPE LINKS */
.rec-jump {
    text-align: center;
}

.rec-jump a {
    color: white;
    font-size: large;
    padding: 0.25em;
}

.rec-jump hr {
    width: 75%;
    border: dashed 1px #ccc;
}
/* END RECIPE JUMP */

/* BEGIN RECIPE LINKS */
.rec-links {
    margin-bottom: 2.5em;
}

.rec-links ul {
    list-style-type: none;
}

.rec-links a {
    display: inline-block;
    font-size: large;
    text-decoration: none;
    color: white;
    border: dashed 1px var(--border-color);
    border-radius: 5px;
    padding: 0.5em;
    background: var(--btn-bg);
    margin: 0.1em;
}

.rec-links a:hover {
    background: white;
    color: #010;
    box-shadow: 2px 2px orange;
}

/* END RECIPE LINKS */

/* BEGIN RECIPE DETAIL */
.rec-desc p {
    text-align: center;
    font-size: large;
    font-style: italic;
}

.rec-ings li {
    font-size: large;
}

.rec-ings li:not(:last-child) {
    margin-bottom: 10px;
}

.rec-ings li::marker {
    content: '✝ ';
}

.rec-instr li {
    font-size: large;
}

.rec-instr li:not(:last-child) {
    margin-bottom: 10px;
}

.rec-tags a {
    display: inline-block;
    font-size: small;
    text-decoration: none;
    color: white;
    border: dashed 1px var(--border-color);
    border-radius: 5px;
    padding: 0.5em;
    background: var(--btn-bg);
    margin: 0.1em;
}

.rec-tags ul {
    list-style-type: none;
}

.rec-tags a:hover {
    background: white;
    color: #010;
    box-shadow: 2px 2px orange;
}

.rec-tags li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.rec-src {

    clear: both;
    margin-top: 5em;
}

.rec-src p {
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.rec-src a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: dashed 1px var(--border-color);
    border-radius: 5px;
    padding: 0.5em;
    background: var(--btn-bg);
    margin: 0.1em;
}

.rec-src a:hover {
    background: white;
    color: #010;
    box-shadow: 2px 2px orange;
}
/* END RECIPE DETAIL */

/* primary + (nav * 2) + padding */
@media (min-width: 1275px) {
	nav {
		float: left;
		width: var(--nav-width);
		position: fixed;
		text-align: left;
		font-size: large;
	}

	nav::before {
		content: "Our Pages";
		text-align: center;
		display: block;
		font-size: large;
		color: white;
		text-decoration: underline;
		margin-top: 0.5em;
	}

	nav li {
		display: block;
		text-align: center;
		margin: 0.5em auto;
	}
}

@media print {
	a[href] {
		text-decoration: none;
		color: black;
	}
}
