:root {
	--primary-width: 900px;
	--nav-width: 150px;
	--border-color: white;
	--btn-bg: #010;
}

body {
	color: white;
	background: #011;
}

header h1 {
	max-width: var(--primary-width);
	font-size: xxx-large;
	margin-left: auto;
	margin-right: auto;
	font-variant: small-caps;
	letter-spacing: 0.5rem;
}

header h3 {
	max-width: var(--primary-width);
	font-size: x-large;
	margin-left: auto;
	margin-right: auto;
	font-variant: small-caps;
	text-align: center;
}

nav {
	max-width: var(--primary-width);
	text-align: center;
	clear: both;
	margin: auto;
	border: solid 1px var(--border-color);
	border-radius: 10px;
	font-variant: small-caps;
	margin-bottom: 1em;
}

main {
	max-width: var(--primary-width);
	margin: auto;
	border: solid 2px var(--border-color);
	padding: 1em;
	border-radius: 10px;
    display: flex;
    flex-direction: column;
}

main h1 {
    font-variant: small-caps;
    letter-spacing: 0.25rem;
}

nav li {
    display: inline-block;
	color: white;
}

nav .link {
	max-width: 7em;
}

nav ul {
	padding: 0;
	margin: 0.5em;
}

h1 {
	text-align: center;
}

h2 {
	color: orange;
}

h3 {
	color: #ccc;
}

.rec-nav {
    text-align: center;
    margin-bottom: 2.5em;
}

/* LINK STYLING */
.link {
    display: inline-block;
    font-size: large;
    text-decoration: none;
    color: white;
    border: dashed 1px var(--border-color);
    border-radius: 5px;
    padding: 0.5em;
    background: var(--btn-bg);
    margin: 0.1em;
}

.link:hover {
    background: white;
    color: #010;
    box-shadow: 2px 2px orange;
}
/* END LINK STYLING */

/* BEGIN JUMP LINK STYLING */
.jump-link {
    text-align: center;
}

.jump-link a {
    color: white;
    font-size: large;
    padding: 0.25em;
}

.jump-link hr {
    width: 75%;
    border: dashed 1px #ccc;
}
/* END JUMP LINK */

/* BEGIN JUMP DESTINATION STYLING */
.jump-dest {
    margin-bottom: 2.5em;
}

.jump-dest ul {
    list-style-type: none;
}
/* END JUMP DESTINATION */

/* BEGIN RECIPE DETAIL */
.rec-desc p {
    text-align: center;
    font-size: large;
    font-style: italic;
}

.rec-ings li {
    font-size: large;
}

.rec-ings li:not(:last-child) {
    margin-bottom: 10px;
}

.rec-ings li::marker {
    content: '✝ ';
}

.rec-instr li {
    font-size: large;
}

.rec-instr li:not(:last-child) {
    margin-bottom: 10px;
}

/* BEGIN RECIPE SUPPLEMENTAL INFO STYLING */
.rec-supp {
    max-width: --var(--primary-width);
}
.rec-supp hr {
    width: 75%;
}

.rec-tags a {
    display: inline-block;
    font-size: small;
    text-decoration: none;
    color: white;
    border: dashed 1px var(--border-color);
    border-radius: 5px;
    padding: 0.5em;
    background: var(--btn-bg);
    margin: 0.1em;
}

.rec-tags ul {
    list-style-type: none;
}

.rec-tags a:hover {
    background: white;
    color: #010;
    box-shadow: 2px 2px orange;
}

.rec-tags li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.rec-src {

    clear: both;
    margin-top: 5em;
}

.rec-src p {
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.rec-src a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: dashed 1px var(--border-color);
    border-radius: 5px;
    padding: 0.5em;
    background: var(--btn-bg);
    margin: 0.1em;
}

.rec-src a:hover {
    background: white;
    color: #010;
    box-shadow: 2px 2px orange;
}
/* END RECIPE SUPPLEMENTAL STYLING */
/* END RECIPE DETAIL */

/* BEGIN RECIPE SEARCH */

.rec-search hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 75%;
    border: dashed 1px #ccc;
}

.rec-filters {
    text-align: center;
}

.name-filter-box {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.name-filter {
    width: 85%;
}

.tag-filter {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.tag-filter legend {
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-left: 20px;
}

.tag-filter-list {
    list-style: none;
    column-count: auto;
    column-width: 8em;
    text-align: left;
}

.tag-filter-list li {
    margin: 0.5em;
    background: transparent;
    font-size: 85%;
}

.rec-table {
    margin-left: auto;
    margin-right: auto;
}

.rec-table th {
    font-size: large;
    font-variant: small-caps;
    color: orange;
}

.rec-table td {
    padding: 5px 15px;
}

.sr-tags li {
    display: inline-block;
    list-style-type: none;
    border: dotted 1px var(--border-color);
    border-radius: 5px;
    padding: 0.25em;
    margin: 0.25em;
}

/* END RECIPE SEARCH */

/* primary + (nav * 2) + padding */
@media (min-width: 1275px) {
	nav {
		float: left;
		width: var(--nav-width);
		position: fixed;
		text-align: left;
		font-size: large;
	}

	nav::before {
		content: "Navigation";
		text-align: center;
		display: block;
		font-size: large;
		color: white;
		text-decoration: underline;
		margin-top: 0.5em;
	}

    nav .link {
        display: block;
    }

	nav li {
		display: block;
		text-align: center;
		margin: 0.5em auto;
	}
}

@media print {
	a[href] {
		text-decoration: none;
		color: black;
	}
}
